<div class="contenedor" >
        <h2 class="title text-center" *ngIf="producto.id==0">Registro Producto</h2>
        <h2 class="title text-center" *ngIf="producto.id>0">Editar Producto</h2>
        <p>Nombre</p>
        <input type="text" class="form-control" [(ngModel)]="producto.nombre">
        <p>Precio</p>
        <input type="number" class="form-control" [(ngModel)]="producto.precio">
        <p>Url Imagen</p>
        <input type="text" class="form-control" [(ngModel)]="producto.urlImagen">
        <p>Archivo Imagen</p>
        <input type="file" #ImagenProducto class="form-control" accept="image/*" (change)="archivoCargado($event)" />
        <p>Descripción</p>
        <input type="text" class="form-control" [(ngModel)]="producto.descripcion">
        <br>
        <button class="btn btn-success" *ngIf="producto.id==0" (click)="agregarProducto()">Registrar</button>
        <button *ngIf="producto.id>0" class="btn btn-info" (click)="modificarProducto()">Actualizar</button>
</div>
