<div class="contenedor">
  <article class="componente comp-historia">
      <h2>Historia</h2>
      <p>Dulce Manuela, es un emprendimiento de repostería, fundado en el año 2018, por Doraine Muñoz Giraldo gracias a la idea de su hija Manuela, la cual le pidió ayuda para hacer galletas y venderlas. El emprendimiento ahora vende tortas/pasteles, cupcakes, galletas y otros tipos de postres.</p>
  </article>
  <article class="componente comp-motivacion">
      <h2>¿Qué nos motiva?</h2>
      <p>“Descubrí que me apasiona la repostería, también encontré que en Yumbo no hay un sitio donde vendan los productos que yo preparo” Doraine Muñoz Giraldo (Sept-28-2021).</p>
  </article>
  <article class="componente comp-mision">
      <h2>Misión</h2>
      <p>En Dulce Manuela nos comprometemos a elaborar nuestros productos con materiales de la mejor calidad para conservar siempre nuestro sabor y calidad.</p>
  </article>
  <article class="componente comp-vision">
      <h2>Visión</h2>
      <p>Convertirnos en la mejor repostería artesanal del Valle del Cauca. </p>
  </article>
  <article class="componente comp-objetivos">
      <h2>Nuestros Objetivos</h2>
          <p>Realizar productos artesanales con materiales de buena calidad para crear una sensación gratificante a los clientes.</p>
          <p>Que los clientes se encariñen con nuestros productos por su sabor y calidad.</p>
  </article>
</div>
