
<div class="container text-center" >
    <div>
        <div class="col"></div>
        <div class="col border gray">
        <h2>Reestablecer Contraseña</h2>
        <label>Email:</label>
        <input type="text" class="form-control" [(ngModel)]="correoInput" [ngModel]="usuario.email" >
        <!--<input type="text" class="form-control" [(ngModel)]="usuario.email" >-->
        <br> <!--si está el id==0 asumimos que está creando, else está editando-->
        <button class="btn btn-success" (click)="retrievePassword()">Enviar</button>
        </div>
        <div class="col"></div>
    </div>
</div>
