<div class="contenedor-publicacion">
  <div class="card">
      <img src="" class="card-img-top" alt="publicidad">
      <div class="card-body">
        <div class="row">
          <div class="col-2 icono">
              <i class="fa-regular fa-thumbs-up fa-3x"></i>
              <p>##</p>
          </div>
          <div class="col-10 descripcion">
              <p class="descripcion-publicacion">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Earum, culpa. Est quia itaque perspiciatis? Eum impedit, beatae ipsam esse vel dolores. Ex quia, inventore quam hic porro quisquam earum sunt!</p>
          </div>
        </div>
        <div class="row">
          <div class="col-10">
              <p class="comentarios-publicacion text-center">Comentarios</p>
          </div>
        </div>
      </div>
    </div>
</div>
