.contenedor {
  width: 30em;
  height: 26em;
  padding: 20px;
  box-shadow: 5px 5px 15px rgb(100, 100, 100);
  margin: 1.5em auto;
  border: 3px solid var(--color-rojo);
}

@media screen and (max-width: 600px) {
  .contenedor{
    width: 22em;
    height: 32em;
    padding: 20px;
    margin: 2em auto;
    border: 3px solid var(--color-rojo);
  }

  input {
      width: 50%;
      border: none;
      border-bottom: 1 px solid var(--color-rojo);
  }


}

input {
  width: 50%;
  border: none;
  border-bottom: 1 px solid var(--color-rojo);
  text-align: center;
}
.title {
  text-align: center;
  font-size: 40px;
  padding: 0;
  margin: 10px 0px 30px 0px;
}

img {
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 10em;
  padding-top: 0;
}

.conte-for {
  padding: 0;
  width: 25em;
  margin: 0 auto;
}

.form-control {
  width: 20em;
  border: none;
  border-radius: 0;
  justify-content: left;
  border-bottom: 1px solid var(--color-rojo);
}

button {
  display: flex;
  justify-content: center;
  background-color: var(--color-rojo);
}
