.contenedor {
  width: 100%;
  height: auto;
  padding: 37px 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  min-width: 200px;
  max-width: 100%;
}
