
<div class="contenedor">
  <caption class="title">Productos</caption>
  <table class="tabla">
      <thead>
          <tr>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Url Imagen</th>
            <th>Descripción</th>
              <th class="ar-acciones">Acciones</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of productos">
          <td data-label="Nombre">{{p.nombre}}</td>
          <td data-label="Precio">{{p.precio}}</td>
          <td data-label="Url Imagen" id="url">{{p.urlImagen}}</td>
          <td data-label="Url Imagen" id="url">{{p.descripcion}}</td>
          <td data-label="Acciones">
            <app-edicion (productoEditado)="onProductoEditado($event)" [producto]="p"></app-edicion>
            <app-eliminar (productoEliminado)="onProductoEliminado($event)" [producto]="p"></app-eliminar>
        </td>
      </tr>
  </tbody>
</table>
</div>
