<table class="table table-striped">
    <thead class="thead-light">
        <tr>
            <th>Núm.</th>
            <th>Cliente</th>
            <th>Correo</th>
            <th># productos</th>
            <th>Medio de Pago</th>
            <th>Valor del pedido</th>
            <th>Fecha</th>
            <th>Más </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of pedidos" >
            <td>{{ p.id }}</td>
            <td>{{ p.usuario.nombre }}</td>
            <td>{{ p.usuario.email }}</td>
            <td style="text-align: center;">{{ p.cantidadProductos }}</td>
            <td>{{ p.medioPago }}</td>
            <td>${{ p.precioTotal }}</td>
            <td>{{ p.fecha }}</td>
            <td><a href="#" (click)="mostrarDetalleEsp(p, $event)">Ver</a></td>
        </tr>
    </tbody>
</table>

<app-detalle-pedidos
    [mostrarDetalle]="mostrarDetalle"
    [pedido]="pedidoSeleccionado"
    (detalleCerrado)="onDetalleCerrado($event)"
></app-detalle-pedidos>