<div class="contenedor">
  <div class="row">
    <div class="col-9">
      <h3 class="text-center">Productos</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-9 contenedor-productos">
      <app-producto-carrito></app-producto-carrito>
      <app-producto-carrito></app-producto-carrito>
      <app-producto-carrito></app-producto-carrito>
      <app-producto-carrito></app-producto-carrito>
      <app-producto-carrito></app-producto-carrito>
    </div>
    <div class="col-3 vt-mp">
      <app-valor-total-metodos-pago></app-valor-total-metodos-pago>
    </div>
  </div>
</div>
