<div *ngIf="mostrarPago" tabindex="-1" class="modal show d-block" style="background-color: rgba(0,0,0,0.5);">
	<div class="modal-dialog contenedor">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Pago contraentrega</h5>
				<button type="button" class="btn-close" (click)="ocultarPago()" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
        <div class="contenedor text-center">
            <img src="../../../assets/logo/logo.png" alt="">
            <div class="col">
              <h2>Pago Contra Entrega</h2>
                <br>
                <br>
                <h5>Valor a Pagar: $<span>{{ pedido.precioTotal }}</span></h5>
                <br>
                <input type="text"  id="" placeholder="Dirección" [(ngModel)]="direccion">
                <br>
                <button class="btn btn-primary mt-2 mx-2" (click)="crearPedido()">Confirmar</button>
            </div>
          </div>
			</div>
		</div>
	</div>
</div>
