<div class="container text-center" >
    <img src="../../../assets/logo/logo.png" alt="logo-dulce-manuela"/>
    <div class="col conte-for">
    <h2>Inicio de sesión</h2>
    <input type="text" class="form-control login" [(ngModel)]="usuario.email" placeholder="Correo electronico">
    <br>
    <input type="password" class="form-control password" [(ngModel)]="usuario.password" placeholder="contraseña">
    <p class="olvidastePassword">¿Olvidaste tu <a class="link-danger" href="cuenta/forget-password">Contraseña</a>?</p>
    <p class="sinCuenta">¿No tienes una <a class="link-danger" href="cuenta/registrar">cuenta</a>?</p>
    <p align="right">
      <button class="btn " (click)="hacerLogin()">Iniciar Sesión</button>
    </p>

    </div>

</div>

