<div class="contenedor">
    <caption class="title">Usuarios</caption>
  <table class="tabla">

      <thead>
          <tr>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Correo Elecctronico</th>
              <th>Contraseña</th>
              <th>Dirección</th>
              <th>Fecha de Nacimiento</th>
              <th>Estado</th>
              <th class="ar-acciones">Acciones</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let u of usuarios">
              <td data-label="Nombres">{{u.nombre}}</td>
              <td data-label="Apellidos">{{u.apellido}}</td>
              <td data-label="Correo">{{u.email}}</td>
              <td data-label="Contraseña">{{u.password}}</td>
              <td data-label="Dirección">{{u.direccion}}</td>
              <td data-label="Fecha de Nacimiento">{{u.birthDate}}</td>
              <td data-label="Estado">{{u.estado}}</td>
              <td data-label="Acciones">
                  <app-edicion class="boton" (usuarioEditado)="onUsuarioEditado($event)" [usuario]="u"></app-edicion>
                  <app-eliminar class="boton" (usuarioEliminado)="onUsuarioEliminado($event)" [usuario]="u"></app-eliminar>
              </td>
          </tr>
      </tbody>
  </table>
</div>
