
<div class="container col-2 divWhite"  >
    <form class="item" #f="ngForm" (ngSubmit)="f.form.valid && login(f)" >
        <img src="../../assets/img/logo.png" alt="logo-dulce-manuela"/>
        <h1 class="title">Iniciar sesión</h1>
        <div>
            <input class="login" type="email" name="email" placeholder="Email" ngModel required size="20">
        </div>
        <div>
            <input class="password" type="password" name="password" placeholder="Password" ngModel required size="15">
        </div>
        <div>
            <p class="olvidastePassword">¿Olvidaste tu <a href="registrar">contraseña</a>?</p>
            <p class="sinCuenta">¿No tienes una <a href="usuarios/agregar">cuenta</a>?</p>
        </div>
        <button class="boton-iniciar-sesion"  type="submit" style="cursor: pointer">Siguiente</button>
    </form>
</div>