<div class="contenedor">
    <div class="contenedor-img">
        <img>
    </div>
    <div class="detalles-y-acciones">
        <h4 class="nombre text-center">{{producto.nombre}}</h4>
        <h5 class="precio text-center">{{producto.precio}}</h5>
        <input type="number" class="cantidad" min="1" placeholder="cantidad...">
        <button class="btn btn-primary">Comprar</button>
        <button class="btn btn-success">Agregar al Carrito de Compras</button>
    </div>
    <div class="descripcion">
        <h4 class="text-center">Descripción</h4>
        <p class="text-descripcion">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas magni rem non tempore mollitia, perspiciatis delectus alias accusantium corporis illo! Sunt amet magni eligendi excepturi quam ipsam, non ad doloremque.</p>
    </div>
  </div>
