<table class="box" class="table_centrado divWhite">
  <thead>
  <tr>
    <th style="width: 25%;">
      Nombres
    </th>
    <th style="width: 25%;">
      Correo Electrónico
    </th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>
      <!--iteramos cada uno de los objetos de tipo Persona--><!--Usaremos property biding-->
      <app-usuario *ngFor="let usuarioElemento of usuarios; let i = index"   
      [usuario] = "usuarioElemento" 
      [indice] = "i">
      </app-usuario><!--[usuario] Pasando elementos a componente hijo usuario.component.html-->
    </td>
  </tr>

</tbody>
</table>
<div class="divFinal" style="text-align: center;">
  <button  style="cursor: pointer" (click)="agregar()">Crear Usuario</button> <!--pointer hace que se vea el cursor cuando nos posicionamos en el botón-->
</div>


  <router-outlet></router-outlet> <!--se quitó lo que había antes, para que con esto se muestre las opciones de editar y de agregar persona-->
    
    
    <!--Se movió Componente hijo-->
    
  