header {
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
  background-color: var(--color-amarillo);
  padding: 0 10px 0 0;
}

a {
  text-decoration: none;
  margin-right: 5px;
}

img{
  width: 90px;
  align-items: center;
}

.btn-img img {
  height: 50px;
  width: 50px;
  padding-right: 10px;
}
