header {
  display: flex;
  justify-content: space-between;
  height: 75px;
  align-items: center;
  padding: 8px;
  background-color: aquamarine;
}

a {
  text-decoration: none;
  margin-right: 5px;
}

.logo img {
  width: 110px;
  align-items: center;
}

.btn-img img {
  height: 50px;
  width: 50px;
  padding-right: 10px;
}
