<header>
  <a class="logo" routerLink="" routerLinkActive="active">
    <img src="../../../assets/logo/logo.png" alt="logo-Dulce-Manuela" />
  </a>
  <nav>
    <a *ngIf="!estaLogueado" class="btn-img link-dark" routerLink="cuenta/login">
      <i class="fa-solid fa-user-lock fa-2x"></i> <!--icono iniciar sesion-->
    </a>
    <a *ngIf="estaLogueado" class="btn-img link-dark" routerLink="carrito">
      <i class="fa-solid fa-cart-shopping fa-2x"></i> <!--icono carrito de compras-->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
      <i class="fa-solid fa-bars fa-2x"></i>
    </button>
    <div class="offcanvas offcanvas-end fondo-amarillo" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <h5 class="offcanvas-title titulo-nav-off" id="offcanvasNavbarLabel">Menú</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
              <li class="nav-item">
                <a class="nav-link" aria-current="page" routerLink=""><i class="fa-solid fa-house-chimney"></i>     Pagina de inicio</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="tienda"><i class="fa-solid fa-shop"></i>     Tienda</a>
              </li>
              <li class="nav-item" *ngIf="estaLogueado">
                <a class="nav-link" routerLink="usuarios/auto-edit"><i class="fa-solid fa-user-pen"></i>    Editar Usuario</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="sobre-nosotros"><i class="fa-solid fa-users"></i>     Sobre Nosotros</a>
              </li>
              <li class="nav-item" *ngIf="estaLogueado">
                <a class="nav-link" routerLink=""  (click)="logout()"><i class="fa-solid fa-door-open"></i>     Cerrar Sesión</a>
              </li>
              <li>
                <hr class="nav-divider">
              </li>
              <li class="nav-tittle" *ngIf="estaLogueado">
                <h5 class="titulo-nav-off">Publicaciones</h5>
              </li>
              <li class="nav-item" *ngIf="estaLogueado">
                <a class="nav-link" href="#"><i class="fa-solid fa-plus"></i>     Crear</a>
              </li>
              <li class="nav-item" *ngIf="estaLogueado">
                <a class="nav-link" href="#"><i class="fa-solid fa-pen-to-square"></i>     Listado y Acciones</a>
              </li>
              <li class="nav-tittle" *ngIf="estaLogueado">
                <h5 class="titulo-nav-off">Productos</h5>
              </li>
              <li class="nav-item" *ngIf="estaLogueado">
                <a class="nav-link" routerLink="productos/agregar"><i class="fa-solid fa-plus"></i>     Crear</a>
              </li>
              <li class="nav-item" *ngIf="estaLogueado">
                <a class="nav-link" routerLink="productos"><i class="fa-solid fa-pen-to-square"></i>     Listado y Acciones</a>
              </li>
            </ul>
          </div>
        </div>
  </nav>
</header>
