<div class="contenedor text-center">
  <img src="../../../assets/logo/logo.png" alt="logo-dulce-manuela"/>
  <h2 *ngIf="usuario.id==0">Registro Usuario</h2>
  <h2 *ngIf="usuario.id>0">Editar Usuario</h2>
  <div class="row">
  <div class="col conte-for">
      <input type="text" class="form-control" [(ngModel)]="usuario.nombre" placeholder="Nombres" required>
      <br>
      <input type="text" class="form-control" [(ngModel)]="usuario.apellido" placeholder="Apellidos" required>
      <br>
      <input type="text" class="form-control" [(ngModel)]="usuario.direccion" placeholder="Dirección" required>
      <br>
      <p>Fecha de Nacimiento</p>
      <input type="date" class="form-control"  [(ngModel)]="usuario.birthDate">
  </div>
  <div class="col conte-for">
      <br>
      <input type="text" class="form-control" [(ngModel)]="usuario.email" placeholder="Correo Electronico" required>
      <br>
      <input type="password" class="form-control" [(ngModel)]="usuario.password" placeholder="Contraseña" required>
      <br>
      <input type="text" class="form-control ultimo" placeholder="Número de Celular">
  </div>
  </div>
      <p align="right">
          <button class="btn" *ngIf="usuario.id==0" (click)="agregarUsuario()">Registrar</button>
          <!--<button *ngIf="usuario.id>0" class="btn btn-success" (click)="modificarUsuario()">Actualizar</button>-->
      </p>
</div>
