<!--<br/><br/>
<div align="center"><h1>Estoy en la Pagina Principal</h1></div>
<img src="http://localhost/API/angular_admin/img/principal.jpg" alt="pagina principal" class="img-thumbnail">-->

<app-buscador></app-buscador>

<!--<img src="http://localhost/API/angular_admin/img/principal.jpg" alt="pagina principal" class="img-thumbnail">-->
<div class="contenedor">
    <div class="imagen">
        <img class="imagen-producto" src="../../assets/Imagenes/Cupcakes.jpg" alt="imagen-producto">
    </div>
    <div class="n-p-c-btns">
        <h2 class="nombre-producto">Cupcakes</h2>
        <div class="p-c-btn">
            <h4 class="precio-producto">$2.500</h4>
            <input type="number" name="cantidad-producto" id="c-p" placeholder="Cantidad">
            <button class="btn btn-primary btn-comprar">Comprar</button>
            <button class="btn btn-success btn-agregar-carrito">Agregar al carrito de compras</button>
        </div>    
    </div>
    <div class="descripcion-producto">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde nulla similique saepe porro non sequi maiores enim facere ea voluptate officia cupiditate maxime, recusandae rerum quaerat ipsum mollitia quia. Minima!</p>
    </div>
</div>

