* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#bienvenida {
    width: auto;
    max-height: 100vh;
    background-color: #F54852;
    padding: 5em;
}

.container-fluid {
    height: auto;
    width: 100%;
    margin: 0;
}

#album {
    background-color: #fffF7E;
    padding: 30px 5px;
    height: auto;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}

.foto-promocional {
    width: 30%;
    padding: 2px;
    margin: 0;
}

#titulo {
    font-size: 4em;
    color: #FFFF7E;
}

#redes-sociales {
    margin-left: 2em;
    
}

.subtitulo {
    font-size: 3em;
    color: #FFFF7E;
}

.texto {
    font-size: 1.5em;
    color: #FFFF7E;
}

#footer {
    height: auto;
    width: 100%;
    background-color: #F54852;
    margin: 0;
}

#logo-d-m {
    width: 15em;
}

#logo-instagram {
    padding: 0.1em 0.2em;
    border-radius: 20px;
    margin: 0 auto;
    font-size: 5em;
    width: 5em;
    height: 5em;
    text-decoration: none;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
}

.row {
    width: 100%;
    height: auto;
    margin: 0;
}

.col {
    height: 100%;
    width: 20em;
    padding: 20px;
    margin: 0;
}

#l-g {
    color: #fff;
}

@media (max-width: 700px) {
    #titulo {
        font-size: 3em;
    }
    .subtitulo {
        font-size: 2em;
    }
}

@media (max-width: 410px) {
    #titulo {
        font-size: 2em;
    }
    .subtitulo {
        font-size: 2em;
    }
}

@media (max-width: 288px) {
    #titulo {
        font-size: 1em;
    }
    .subtitulo {
        font-size: 1.5em;
    }
    .texto {
        font-size: 1em;
    }
    .foto-promocional {
        width: 6em;
    }
    #logo-d-m {
        width: 10em;
    }    
}

@media (max-width: 220px) {
    #titulo {
        font-size: 0.7em;
    }
    #bienvenida {
        margin: 0;
        padding: 10px;
    }
    .subtitulo {
        font-size: 1em;
    }
    .texto {
        font-size: 0.5em;
    }
    .foto-promocional {
        width: 6em;
    }
    #redes-sociales {
        margin: 0;
        
    }
    #logo-d-m {
        width: 8em;
        
    }    
}

@media (max-width: 160px) {
    #titulo {
        font-size: 0.4em;
    }
    #bienvenida {
        margin: 0;
        padding: 10px;
    }
    .subtitulo {
        font-size: 1em;
    }
    .texto {
        font-size: 0.5em;
    }
    .foto-promocional {
        width: 5em;
    }
    #redes-sociales {
        margin: 0;
        
    }
    #logo-instagram {
        width: 3em;
    }
    
    #logo-d-m {
        width: 5em;
        
    }    
}