<div id="bienvenida" class="container-fluid">
  <h1 id="titulo">Bienvenidos a Dulce Manuela</h1>
</div>
<div id="album" class="container-fluid">
  <img src="../../assets/Imagenes/img-1.jpg" alt="Galletas de Mantequilla" class="foto-promocional" title="Galletas de Mantequilla">
  <img src="../../assets/Imagenes/img-2.jpg" alt="Torta Tematica Mi Primera Comunión" class="foto-promocional" title="Torta Tematica Mi Primera Comunión">
  <img src="../../assets/Imagenes/img-3.jpg" alt="Cupcakes" class="foto-promocional" title="Cupcakes">
  <img src="../../assets/Imagenes/img-4.jpg" alt="Paleta de ChocoPastel" class="foto-promocional" title="Paleta de ChocoPastel">
  <img src="../../assets/Imagenes/img-5.jpg" alt="Torta de Yogurt y Frutos Rojos" class="foto-promocional" title="Torta de Yogurt y Frutos Rojos">
  <img src="../../assets/Imagenes/img-6.jpg" alt="ChocoOreo Tematica de Ojos" class="foto-promocional" title="ChocoOreo Tematica de Ojos">
  <img src="../../assets/Imagenes/img-7.jpg" alt="Torta Volcan de Maracuyá" class="foto-promocional" title="Torta Volcan de Maracuyá">
  <img src="../../assets/Imagenes/img-8.jpg" alt="Torta de Boda Real" class="foto-promocional" title="Torta de Boda Real">
  <img src="../../assets/Imagenes/img-9.jpg" alt="Torta Tematica de Guayos" class="foto-promocional" title="Torta Tematica de Guayos">
</div>
<div id="footer" class="row container-fluid">
  <div class="col">
      <img src="../../assets/logo/logo.png" alt="Logo Dulce Manuela" id="logo-d-m">
  </div>
  <div id="redes-sociales" class="col">
      <p class="subtitulo">Síguenos en</p>
      <br>
      <a id="logo-instagram" href="https://www.instagram.com/dorainemunoz/"><i id="l-g" class="fa-brands fa-instagram"></i></a>
  </div>
  <div class="col">
      <p class="subtitulo text-center">Contactanos</p>
      <br>
      <p class="texto text-center">(602) 311 318 9264</p>
  </div>
</div>