.buscador {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px auto;
    width: 400px;
    height: 35px;
    padding: 0;
    display: flex;
    justify-content: center;
}

#buscador-input {
    width: 370px;
    height: 100%;
    border: none;
    padding-left: 10px;
}

.btn-buscador {
    width: 30px;
    height: 100%;
    border-left: 1px solid;
    padding: 0 2px 5px 5px;
}