.contenedor {
    width: 100%;
    height: auto;
    padding: 37px 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
  }
  
  .btn-buscador {
      width: 30px;
      height: 100%;
      border-left: 1px solid;
      padding: 5px;
      text-decoration: none;
  }
  
  a {
    text-decoration: none;
  }
  
  .card {
    margin: 20px;
  }
  
  img{
    width: 100%;
  }
  
  .card-body {
      background-color: var(--color-amarillo);
    }